h1 {
    text-align: center;
}

.divider {
    float: left;
}

#countryInfo {
    width: 30%;
}

#countryFlag {
    width: 70%;
}

p {
    font-weight: bold;
}

#flag {
    width: 70%;
    border: solid black 1px;
}